html {
    font-size: 100%;
    box-sizing: border-box;
    background-color: $main;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    background-color: $main;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    color: $lightYellow;
    font-size: $font-med;
}

a {
    color: $lightYellow;
    text-decoration: none;
}

a:hover {
    color: $lightYellow;
    opacity: 0.8;
}

.cursive {
    font-family: $cursive;
}

.pink {
    color: $pink;

    &:hover {
        color: $pink;
    }
}

h1 {
    color: $pink;
}

img {
    padding: 10px;
    border: 1px solid $greyOpaque;
}

.shadow-box {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}