html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    background-color: $main;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    color: $lightYellow;
    font-size: $font-med;
}

.cursive {
    font-family: $cursive;
}

h1 {
    color: $pink;
}

a {
    color: $lightYellow;
}

a:hover {
    color: $lightYellow;
    opacity: 0.8;
}

img {
    padding: 10px;
    border: 1px solid $greyOpaque;
    margin: 10px;
}