@import "variables";
@import "globals";

.cursive {
    font-family: $cursive;
}

.hero {
    min-height: 100vh;
    background-image: url('../img/pexels-suzy-hazelwood-1629236.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
        color: $pink;
        padding-top: 20vh;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }

    .social {

        a {
            font-size: 2.5rem;
            padding: 0.7rem;
            margin: 0.6rem;
        }

    }
}

.social {

    a {
        color: white;
        text-decoration: none;
        border-radius: 50%;
    }

    .fa-twitter {
        background-color: $twitter;
    }

    .fa-instagram {
        background-color: $instagram;
    }

    .fa-pinterest {
        background-color: $pinterest;
    }

}

nav {

    a {
        color: $lightYellow;
        font-size: 1.5rem;
    }

    a:hover {
        color: $lightYellow;
        opacity: 0.8;
    }   
}

.custom-toggler {

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 247, 193, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.custom-toggler.navbar-toggler {
    border-color: $lightYellow;
    color: $lightYellowOpaque;
    background-color: $blackOpaque;
}

nav {
    .dropdown-menu {
        background-color: $greyOpaque;

        .dropdown-item {
            color: $lightYellow;

            &:hover, &:focus {
                color: $grey;
            }
        }
    }
}

@import "breakpoints";